body {
  margin: 0;
  height: 100%;
}

.header {
  padding: 10px;
  display: flex;
  align-items: center;
  background: #5c6158;
  height: 80px;
  gap: 6rem;
  display: flex;
  justify-content: space-between;
}

.header-nav {
  height: 20px;
  gap: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

a:link,
a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #b5b1a7;
}

.logo {
  height: 80px;
  margin-left: 2rem;
}

.main {
  width: 1433px;
  height: 1000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainpicture {
  width: 1433px;
  height: 1000px;
  position: absolute;
}

.h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: #171717;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.top-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 475px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-pictures {
  width: 717px;
}

.products {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sustainability {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.materials {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 1rem;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: white;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
}

h2:hover {
  background: #b5b1a7;
  color: white;
  cursor: pointer;
}

.bottom-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 475px;
}

footer {
  background: #5c6158;
  height: 350px;
}

.creator {
  justify-content: center;
  margin-left: 630px;
  font-family: "Roboto", sans-serif;
  color: #b5b1a7;
  font-size: 12px;
  text-transform: uppercase;
}

.footer-box {
  background: #5c6158;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.menu {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}
.contact {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

li {
  padding-bottom: 10px;
}
